@import url("./variable.less");

/* global */

html,
body,
#root,
.ant-app,
.watermark-content {
  height: 100%;
  background-color: var(--hooks-colorBgContainer);
}

/* scroll bar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--hooks-scrollbarThumb);
  border-radius: 20px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
